/* контейнер просто содержит узлы.
Узел сам будет отвечать за свой отступ */
.Container {

    padding: 0;

    margin: 0;

}

.Container li {

    list-style-type: none; /* убрать кружочки/точечки */

}

.Expand {
    width: 18px;
    height: 18px;
    float: left;

}
.Content {
        /* чтобы не налезать на Expand */
    margin-left:18px;
        /* высота заголовка - как минимум равна Expand
            Т.е правая колонка всегда выше или равна левой.
            Иначе нижний float будет пытаться разместиться на получившейся ступеньке
        */
    min-height: 18px;
}
#root{
    padding: 50px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}
#text_field{
   margin: 12px;
    border-style: solid;
    border-radius: 7px;
    height: 22px;
    width: 400px;
}

#conform{
    background-color: #219552;
    color: white;
    width: 132px;
    height: 32px;
    border-color: #219552;
    border-radius:7px ;
    border-style: solid;
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    cursor: pointer;
}


/* открытое поддерево */

.ExpandOpen .Expand {
    background-image: url(img/minus.jpg);
}

/* закрытое поддерево */

.ExpandClosed .Expand {

    background-image: url(img/plus.jpg);
}
/* лист */

.ExpandLeaf .Expand {
    background-image: url(img/leaf.jpg);
    height: 18px;
    width: 18px;
}
.Node {

    margin-left: 18px;
    zoom: 1;
    /* линия слева образуется повторяющимся фоновым рисунком */
    background-image : url(img/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
}

.toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    border-top: 1px solid #000;
    width: 100%;
    height: 50px;
    background-color: #3498DB ;
}

.ExpandOpen .Container {
    display: block;
}
.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .list {
    display: block;
}
.ExpandClosed .list {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {

    cursor: pointer; /* иконки скрытия-раскрытия */

}
.ExpandLeaf .Expand {
    cursor: auto; /* листовой узел */
}
.popup{
    width: auto;
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    border-color: #707070;
    display: none;

}
.popup_on{
    width: auto;
    display: inline-block;
    vertical-align: top;
    display: block;
    padding-bottom: 20px;

}
#tabs .tab {
    display: inline-block; /* выстраиваем вкладки в один ряд */
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index:5;
}
#tabs .whiteborder {
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0  0;
}
#tabs .tabContent {
    width: 300px;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index:1;
    padding: 10px;
    border-radius: 0 0 3px 3px
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}



